aside{
  font-family: "Gillory";
  background-color: white;
  padding: 10px;
  height: 80vh;
  width: 20%;

  .org-toggle {
    display: flex;
    border-radius: 5px;
    padding: 5px;
  }

  .icon {
    height: 20px;
    margin: auto 20px;
  }
}