header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Gillory";

  .logo {
    height: 40px;
  }

  .org-toggle {
    display: flex;
    border-radius: 5px;
    background-color: #f6f7f9;
    padding: 5px;
  }

  .bold-text {
    font-weight: bold;
    margin: 3px 0px;
    font-size: 16px;
    color: #2d416f;
  }

  .text {
    margin: 3px 0px;
    font-size: 16px;
    color: #abb3c5;
  }

  .icon {
    height: 20px;
    margin: auto 20px;
  }

  .user {
    display: flex;
    width: 15%;
    img {
      height: 50px;
      margin-right: 20px;
    }
  }
}

.search {
  display: flex;
  input {
    padding: 10px;
    width: 300px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #dfdfdf;
    font-size: 16px;
    color: #57678c;
  }

  button {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: #4baa79;
    // border: 1px solid #4baa79;
    border: none;
  }
}
